.form-label {
  display: block;
  margin-left: calc(var(--spacing) * 1);
  margin-bottom: calc(var(--spacing) * 2);
  font-size: 0.75rem;
  font-weight: 700;
  color: color-mix(in oklab, white 50%, transparent);
  text-transform: uppercase;
}

.field {
  position: relative;
}

.form-icon {
  color: white;
  position: absolute;
  top: calc(var(--spacing) * 3);
  left: calc(var(--spacing) * 3);
}

.form-input {
  font: inherit;
  font-weight: 500;
  color: white;
  outline-style: none;
  padding-block: calc(var(--spacing) * 3);
  padding-right: calc(var(--spacing) * 4);
  padding-left: calc(var(--spacing) * 12);;
  background-color: color-mix(in oklab, white 5%, transparent);
  border: 1px solid var(--border);
  border-radius: 0.75rem;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: calc(var(--spacing) * 5);
  position: relative;
}



.terms {
  display: flex;
  align-items: center;
  margin-bottom: calc(var(--spacing) * 5);
}

.terms-input {
  appearance: none;
  background-color: white;
  position: relative;
  transition: background-color 0.3s cubic-bezier(0.25, 1.2, 0.8, 1), border-color 0.3s;

  margin: 0 calc(var(--spacing) * 2) 0 0;

  border-radius: 0.25rem;
  width: calc(var(--spacing) * 4);
  height: calc(var(--spacing) * 4);
  cursor: pointer;
  border: 1px solid transparent;

  &:checked {
    background-color: var(--neon);
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -60%) rotate(45deg);
  }
}

.terms-label {
  color: color-mix(in oklab, white 40%, transparent);
}
