<div class="about__container">
  <div class="about__content">
    <div class="about__image">
      <div class="image">
        <img src="img/motor-image.avif" alt="">
      </div>
      <div class="image-decor dec-1"></div>
      <div class="image-decor dec-2"></div>
    </div>
    <div class="about__text">
      <h2 class="about__title">{{ 'main.about.title_part1' | transloco }} <span>{{ 'main.about.title_part2' | transloco }}</span></h2>
      <p class="about__subtitle">{{ 'main.about.subtitle' | transloco }}</p>
      <div class="about__description">
        <p>{{ 'main.about.description_part1' | transloco }}</p>
        <p>{{ 'main.about.description_part2' | transloco }}</p>
      </div>
      <div class="about__cards">
        <div class="card">
          <div class="card__title">{{ 'main.about.cards.1.title' | transloco }}</div>
          <div class="card__description">{{ 'main.about.cards.1.description' | transloco }}</div>
        </div>
        <div class="card">
          <div class="card__title">{{ 'main.about.cards.2.title' | transloco }}</div>
          <div class="card__description">{{ 'main.about.cards.2.description' | transloco }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
