<div class="brand">
  <div class="brand__icon"></div>
  <div class="brand__name"></div>
</div>
<div class="navigation">
  <a href="#main" class="navigation__button">{{ 'header.home' | transloco }}</a>
  <a href="#booking" class="navigation__button">{{ 'header.booking' | transloco }}</a>
  <a href="#services" class="navigation__button">{{ 'header.services' | transloco }}</a>
  <a href="#about" class="navigation__button">{{ 'header.about' | transloco }}</a>
  <a href="#reviews" class="navigation__button">{{ 'header.reviews' | transloco }}</a>
  <a href="#contacts" class="navigation__button">{{ 'header.contacts' | transloco }}</a>
</div>
<div class="theme-picker"></div>
<div class="profile"></div>
