:host {
  display: block;
  padding-block: calc(var(--spacing) * 24);
  overflow: hidden;
}

.auth__container {
  max-width: 28rem;
  margin-inline: auto;
  padding: calc(var(--spacing) * 6);
  box-sizing: border-box;
  position: relative;
  border: 1px solid var(--border);
  background-color: var(--card);
  border-radius: 1rem;
}

.auth__header {
  text-align: center;
  margin-bottom: calc(var(--spacing) * 8);
}

.auth__icon {
  display: flex;
  align-items: center;
  margin-bottom: calc(var(--spacing) * 6);
  margin-inline: auto;
  justify-content: center;
  width: calc(var(--spacing) * 16);
  height: calc(var(--spacing) * 16);
  border-radius: 1rem;
  background-color: var(--neon);
  box-shadow: 0 0 15px var(--neon);
  color: white;
}

.auth__title {
  display: block;
  font-size: 1.875rem;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 900;
  margin: 0 0 calc(var(--spacing) * 2) 0;
  color: white;
  text-align: center;

  span {
    color: var(--neon);
    text-shadow: 0 0 15px color-mix(in srgb, var(--neon) 70%, transparent);
  }
}

.auth__subtitle {
  color: color-mix(in oklab, white 40%, transparent);
  margin: 0;
}

.border {
  text-align: center;
  padding-top: calc(var(--spacing) * 8);
  border-top: 1px solid var(--border);
  margin-top: calc(var(--spacing) * 10);
}

.text-link {
  text-align: center;
  color: color-mix(in oklab, white 50%, transparent);

  a {
    cursor: pointer;
    color: var(--neon);
    transition: color 200ms cubic-bezier(0.25, 1.2, 0.8, 1);
    &:hover {
      text-decoration: underline;
    }
  }
}
